<h1> ______________________________________ </h1>

<h1> Fiber panels with Kr38m decays simulation analysis </h1>
<h1> ______________________________________ </h1>

<p style="font-size: 17px; color: black;"> In this Notebook we analyse the results from the 10000 MC Kr38m decay events simulated in a "realistic" fiber barrel to check if we're able to see the krypton signal with enough resolution. </p>

<h1> ____________ </h1>
<h2> This version </h2>
<h1> ____________ </h1>

-  <p style="font-size: 17px; color: black;"> 10K events. </p>

-  <p style="font-size: 17px; color: black;"> Geant4 fundamental units: </p>

 -  <p style="font-size: 17px; color: black;"> Length [L]: mm (milimeter) </p>
 -  <p style="font-size: 17px; color: black;"> Time [T]: ns (nanosecond) </p>
 -  <p style="font-size: 17px; color: black;"> Energy [E]: MeV (megaelectronvolt) </p>

In [180]:
import numpy              as np
import pandas             as pd

import scipy              
from scipy                import stats, integrate
from scipy.signal         import convolve

import matplotlib.pyplot  as plt

from matplotlib.ticker    import FormatStrFormatter # to set the format of the plot's axis
from matplotlib.patches   import Rectangle # To add blanck spaces in tabular legends

import os
import math
import tables             as tb

<h1> _________________________________________________________________________________________________________ </h1>

<h1> __________________________ </h1>
<h2> Functions </h2>

-  <p style="font-size: 17px; color: black;"> <b> gauss(x, a,  mu, sigma): </b> Gaussian normalized to $a$. </p>


-  <p style="font-size: 17px; color: black;"> <b> gauss_sum(x, a0,  mu0, sigma0, a1, mu1, sigma1): </b> Sum of 2 gaussians. </p>


-  <p style="font-size: 17px; color: black;"> <b> dirac(x, x0): </b> Dirac delta at $x0$. </p>


-  <p style="font-size: 17px; color: black;"> <b> EL_yield(E, p, d): </b> It gives you the EL gain in $[photons/e^-]$ as a function of the electric field $E[kV/cm]$, pressure $p[bar]$ and the average absoption length $d[cm]$. We end up not using this formula cause we use directly a fixed value of EL gain. </p>

In [181]:
# Fitting distributions to define

# note: pdf are normilized to 1 so we have yo add an amplitude param
def gauss(x, a,  mu, sigma):
    
    gaussian = stats.norm.pdf(np.sort(x), mu, sigma) 
    
    return (a/gaussian.sum())*gaussian

def gauss_sum(x, a0,  mu0, sigma0, a1, mu1, sigma1):
    return a0*stats.norm.pdf(x, mu0, sigma0)  + a1*stats.norm.pdf(x, mu1, sigma1)

def dirac(x, x0):
    return np.where((x - x0) == 0, 1, 0)

def EL_yield(E, p, d):
    # E[kV/cm] electric field 
    # p[bar] pressure
    # d[cm] average absorption depth
    return (140*E/p - 116)*d*p # [photons/e‚Åª]

<h1> __________________________ </h1>
<h2> Global parameters </h2>

-  <p style="font-size: 17px; color: black;"> <b> Pandas dataset params: </b> Allows to set the max number of columns and rows that are shown in a pandas dataset. </p>

In [182]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.min_rows', 20)

-  <p style="font-size: 17px; color: black;"> <b> Plots params: </b> In case you want to fix the parameters for all plots. </p>

In [183]:
# plt.rcParams["figure.figsize"] = 10, 8
# plt.rcParams["font.size"] = 10

-  <p style="font-size: 17px; color: black;"> <b> Analysis parameters </b> </p>

 -  <p style="font-size: 17px; color: black;"> <b> patata: </b> patata. </p>

<h1> __________________________ </h1>
<h2> Data </h2>

-  <p style="font-size: 17px; color: black;"> <b> Reading the file </b> </p>

-  <p style="font-size: 17px; color: black;"> File's path </p>

In [184]:
# path = '/home/investigator/mariandbt/python/data/'
# path = path + '/20230824_fib_pan_kr'

path = '/home/investigator/mariandbt/nexus'

filename = os.path.join(path, "Fib_pan_meth.next.h5")

-  <p style="font-size: 17px; color: black;"> In a .h5 file there are several objects, so we print them all to then pick the one we're interested in </p>

In [185]:
with tb.open_file(filename) as file:
    print(file)

/home/investigator/mariandbt/nexus/Fib_pan_meth.next.h5 (File) ''
Last modif.: '2023-08-28T08:22:04+00:00'
Object Tree:
/ (RootGroup) ''
/MC (Group) ''
/MC/configuration (Table(43,)) ''
/MC/hits (Table(0,)) ''
/MC/particles (Table(23638,)) ''
/MC/sns_positions (Table(85,)) ''
/MC/sns_response (Table(235,)) ''

-  <p style="font-size: 17px; color: black;"> Read the file and make a copy to work with, this way it's easier to re-start the copy instead of re-reading the file. </p>

In [186]:
# %%timeit # WITH THIS YOU'RE ONLY TIMING, BUT IT DOESN'T REALLY RUN THE COMMANDS YOU TIME
# data = pd.read_hdf(filename, "/MC/particles")
# data = pd.read_hdf(filename, "/MC/sns_positions")
data = pd.read_hdf(filename, "/MC/sns_response")
# data = pd.read_hdf(filename, "/MC/hits")
# dst = pd.read_hdf(filename, "/MC/hits").groupby("event_id").get_group(event_id)

In [187]:
dst = data.copy()

In [188]:
# dst.final_volume.unique() 
# dst.initial_volume.unique()
# dst.particle_name.unique()
dst.sensor_id.unique(), len(dst.sensor_id.unique())

(array([3163, 3152, 3135, 3166, 3150, 3082, 3122, 3085, 3126, 3146, 3154,
        3139, 3089, 3140, 3138, 3100, 3096, 3132, 3092, 3113, 3087, 3147,
        3094, 3086, 3164, 3078, 3144, 3095, 3084, 3148, 3097, 3157, 3110,
        3111, 3105, 3104, 3134, 3109, 3136, 3112, 3167, 3131, 3115, 3156,
        3117, 3149, 3120, 3119, 3127, 3103, 3161, 3121, 3159, 3090, 3106,
        3165, 3133, 3153, 3160, 3128, 3162, 3130, 3137, 3142, 3158, 3123,
        3093, 3102, 3155, 3081, 3099, 3107, 3083, 3108, 3098, 3079, 3114,
        3118, 3101, 3141, 3151, 3080, 3116, 3124, 3145], dtype=uint32),
 85)

In [200]:
dst.time_bin.unique()

array([1, 0, 3, 2, 4, 7, 5], dtype=uint64)

In [189]:
# dst.loc[dst.final_volume.str.contains('SENS')]
# dst.loc[(dst.initial_volume != 'WORLD') & (dst.primary == 0)]
dst

     event_id  sensor_id  time_bin  charge
0           0       3163         1       1
1           0       3152         1       1
2           0       3135         0       1
3           0       3166         0       1
4           0       3150         0       1
5           0       3082         0       1
6           0       3082         1       1
7           0       3122         0       2
8           0       3085         0       2
9           0       3085         1       1
..        ...        ...       ...     ...
225         9       3160         0       1
226         9       3084         0       1
227         9       3079         0       1
228         9       3096         2       1
229         9       3141         0       1
230         9       3090         1       1
231         9       3145         3       1
232         9       3132         0       1
233         9       3092         0       1
234         9       3101         0       1

[235 rows x 4 columns]

-  <p style="font-size: 17px; color: black;"> <b> Tests on the data: </b> We perform some tests on the dataset to check the simulation is valid. </p>

-  <p style="font-size: 17px; color: black;"> Group the data by sensors. </p>

In [194]:
# g = dst.groupby(dst.sensor_id)
g = dst.groupby(dst.event_id)

In [195]:
g.charge.sum()

event_id
0    23
1    19
2    34
3    23
4    31
5    37
6    18
7    20
8    26
9    26
Name: charge, dtype: uint32

<h1> __________________________ </h1>
<h2> Analysis </h2>

<h2> Charge distribution in an event. </h2>

-  <p style="font-size: 17px; color: black;"> One event </p>

In [197]:
ev = 0

In [198]:
wvf = dst.groupby(dst.event_id).get_group(ev)

In [199]:
wvf

    event_id  sensor_id  time_bin  charge
0          0       3163         1       1
1          0       3152         1       1
2          0       3135         0       1
3          0       3166         0       1
4          0       3150         0       1
5          0       3082         0       1
6          0       3082         1       1
7          0       3122         0       2
8          0       3085         0       2
9          0       3085         1       1
10         0       3085         3       1
11         0       3126         2       1
12         0       3146         0       1
13         0       3154         0       1
14         0       3139         0       1
15         0       3089         2       1
16         0       3140         0       1
17         0       3138         0       1
18         0       3100         2       1
19         0       3096         2       1
20         0       3132         0       1